body {
  background-color: #fffff0;
}

.align {
  margin: 20px;
  padding: 10px;
}

.user-forms {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin: 10px;
  height: 10%;
}


#info {
  display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#issue-search {
  display: none;
}

#name-search {
  display: none;
}

#clear-search {
  display: none;
  margin: none;
}

#home-screen {
  margin: 10px;
  padding: 10px;
}





